<!--nav id="body-nav"></nav-->
<div class="push-wrap" id="homepage" ng-show="ready">
        <!-- <div class=""> -->
        <div ng-show="ready" class="bcktrans" flex layout-fill>
        <!-- <div ng-show="true"> -->
            <div class="game-body">
                <div ng-if="gameState == 'playCard'" class="play-info">
                    Player {{activePlayerId}} Play
                </div>
                <div ng-if="gameState == 'withdrawCard'" class="play-info">
                    {{activePlayerId}} to withdraw card from {{otherPlayerId}}
                </div>
                <div ng-if="gameState == 'returnCard'" class="play-info">
                    {{activePlayerId}} returning card to {{otherPlayerId}}
                </div>
                <div ng-if="gameState == 'setTrump'" class="play-info">
                    Player {{activePlayerId}} Set Trump
                </div>
                <div class="left-player playingCards" ng-style="getWidth(1);">
                    <h6>{{ arrPlayers[1].name }}</h6>
                    <div class="card-to-play"></div>
                    <ul class="hand"  style="height:{{cardSize.y}}px; width:100%; margin:0; padding:0;">
                        <li ng-repeat="card in leftPlayerCards" class="" id="{{ card.id }}" ng-class="card.id" ng-click="play($index, leftPlayerId, $event)" style="width:{{cardSize.x}}px; height:{{cardSize.y}}px; left:{{$index*cardLeftMargin}}px;">
                            <a class="card back"></a>
                        </li>
                    </ul>
                    <!--move card from left for exchange-->
                    <div class="statistics">{{ arrPlayers[1].handsToMake }} / {{ arrPlayers[1].handsMade }}</div>
                </div>
                <div class="right-player playingCards" ng-style="getWidth(2);">
                    <h6>{{ arrPlayers[2].name }}</h6>
                    <div class="card-to-play"></div>
                    <ul class="hand" style="height:{{cardSize.y}}px; width:100%; margin:0; padding:0;">
                        <li ng-repeat="card in rightPlayerCards" class="" id="{{ card.id }}" ng-class="card.id" ng-click="play($index, rightPlayerId, $event)" style="width:{{cardSize.x}}px; height:{{cardSize.y}}px; left:{{$index*cardLeftMargin}}px;">
                            <a class="card back"></a>
                        </li>
                    </ul>
                    <div class="statistics">{{ arrPlayers[2].handsToMake }} / {{ arrPlayers[2].handsMade }}</div>
                </div>
                <!--by NV-->
                <div class="bottom-player playingCards simpleCards firstperson" ng-style="getWidth(0);">
                    <h6>{{ arrPlayers[0].name }}</h6>
                    <div class="card-to-play"></div>
                    <ul class="hand"  style="height:{{cardSize.y}}px; width:100%; margin:0; padding:0;">
                        <li ng-repeat = "card in bottomPlayerCards" style="left:{{$index*cardLeftMargin}}px;">
                            <a ng-if="card" class="card" ng-class = "assignClass(card)" ng-click="play(card, playerId, $event)" style="width:{{cardSize.x}}px; height:{{cardSize.y}}px;">
                                <span class="rank">{{ getRankForHTML(card) }}</span>
                                <span class="suit" ng-bind-html="'&'+getSuitForHTML(card)+';' | unsafe"></span>
                            </a>
                        </li>
                    </ul>
                    <div class="statistics">{{ arrPlayers[0].handsToMake }} / {{ arrPlayers[0].handsMade }}</div>
                </div>
                <!--by NV-->
                <div class="card movingCard" ng-if="movingCard">{{ movingCard[0].suit }} {{ movingCard[0].rank }}</div>
                <div class="set-trump playingCards simpleCards" ng-show="gameState == 'setTrump' && playerId == activePlayerId" ng-style="getTrumpDivCSS()">
                    <ul class="table" style="height:{{cardSize.y}}px; width:100%; margin:0; padding:0;">
                        <li class="card" ng-repeat="trump in trumps" ng-click="setTrumpCard(trump)" style="width:{{cardSize.x}}px; height:{{cardSize.y}}px;">
                            <a class="card {{ trump }}">
                                <span class="suit"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="played-cards playingCards simpleCards" ng-style="getPlayedCardsDivCSS()">
                    <ul class="played-cards-ul table" style="height:100%; width:100%; margin:0; padding:0;">
                        <li ng-repeat = "player in arrPlayers" class="{{ getPosition(player.position) }}" ng-class="{true : 'moveCard'}[player.position == 0]"  ng-if="player.cardPlayed" style="position: absolute; width:{{cardSize.x}}px; height:{{cardSize.y}}px;" ng-style="getCardInitialStyle(player.position)">
                            <a class="card" ng-if="player.cardPlayed" ng-class="assignClass2(player.cardPlayed, player.position);" style="position:absolute;">
                                    <span class="rank">{{ getRankForHTML(player.cardPlayed) }}</span>
                                    <span class="suit" ng-bind-html="'&'+getSuitForHTML(player.cardPlayed)+';' | unsafe"></span>
                            </a>
                            <a ng-if="player.position != 0" class="card back" style="position:absolute;"></a>
                            <!--{{ player.cardPlayed.suit }}  {{ player.cardPlayed.rank }}-->
                        </li>
                    </ul>
                </div>
                <div class="allDeck playingCards simpleCards" style="height:{{cardSize.y}}px; width:{{cardSize.x}}px; top:{{getDeckTop()}}px; z-index:10;">
                    <ul class="hand"  style="height:{{cardSize.y}}px; width:{{cardSize.x}}px; position:absolute !important;">
                        <li ng-repeat = "card in leftPlayerDeck" class="leftPlayerDeck" style="width:{{cardSize.x}}px; height:{{cardSize.y}}px;">
                            <a ng-if="card" class="card" style="position:absolute;">
                                    <span class="rank">{{ getRankForHTML(card) }}</span>
                                    <span class="suit" ng-bind-html="'&'+getSuitForHTML(card)+';' | unsafe"></span>
                            </a>
                            <a class="card back" style="position:absolute;"></a>
                        </li>
                    </ul>
                    <ul class="hand"  style="height:{{cardSize.y}}px; width:{{cardSize.x}}px; position:absolute !important;">
                        <li ng-repeat = "card in rightPlayerDeck" class="rightPlayerDeck" style="width:{{cardSize.x}}px; height:{{cardSize.y}}px;">
                            <a ng-if="card" class="card" style="position:absolute;">
                                    <span class="rank">{{ getRankForHTML(card) }}</span>
                                    <span class="suit" ng-bind-html="'&'+getSuitForHTML(card)+';' | unsafe"></span>
                            </a>
                            <a class="card back" style="position:absolute;"></a>
                        </li>
                    </ul>
                    <ul class="hand"  style="height:{{cardSize.y}}px; width:{{cardSize.x}}px; position:absolute !important;">
                        <li ng-repeat = "card in bottomPlayerDeck" class="bottomPlayerDeck" style="width:{{cardSize.x}}px; height:{{cardSize.y}}px;">
                            <a ng-if="card" ng-class = "assignClass(card)" class="card front" style="position:absolute;">
                                    <span class="rank">{{ getRankForHTML(card) }}</span>
                                    <span class="suit" ng-bind-html="'&'+getSuitForHTML(card)+';' | unsafe"></span>
                            </a>
                            <a class="card back" style="position:absolute;"></a>
                        </li>
                    </ul>
                </div>
                <div class="trump-card" ng-if="trump">
                    <ul><li class="card" style="width:{{cardSize.x}}px; height:{{cardSize.y}}px;">{{ trump }}</li></ul>
                </div>
            </div>
            <!-- <button class="btn btn-success btn-lg text-center" ng-click="toggleScores()">score</button> -->
            <md-button class="md-fab md-fab-bottom-left md-primary" aria-label="Scores" style="position:fixed;" ng-click="toggleScores()">
                <md-icon icon="assets/img/scoreicon.svg" style="width: 24px; height: 24px;">
                </md-icon>
            </md-button>
            <md-button class="md-fab md-fab-top-right md-primary" aria-label="Scores" style="position:fixed;" ng-click="toggleRight()" hide-md>
                <md-icon icon="assets/img/ic_chat_24px.svg" style="width: 24px; height: 24px;">
                </md-icon>
            </md-button>
        </div>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" component-id="right" is-locked-open="$media('md')" flex ng-show="ready" layout="vertical" layout-fill style="max-height:100%!important; background-color: #f6f6f6;">
        <!-- <md-content > -->
        <md-toolbar class="chat-head">
              <span class="md-toolbar-tools" flex layout="horizontal" layout-fill>
                <h3 flex="90">    Chat </h3>
              <md-button class="md-fab md-fab-top-right md-primary" aria-label="Scores" ng-click="closeRight()" hide-md>
                <md-icon icon="assets/img/ic_arrow_back_24px.svg" style="width: 24px; height: 24px;">
                </md-icon>
            </md-button>
                </span>
        </md-toolbar>
          <md-content class="md-padding chat-container" flex layout="vertical" layout-align="end center">
            <md-content flex class="chat-hist">
                <md-list class='chat-box'>
                </md-list>
                <div id="bottomscroll"> </div>
            </md-content>
            <div layout="horizontal" class="chatsend">
                <md-text-float ng-model="chatMsg" ng-enter="sendChat()" style="width:300px; margin-bottom:0px!important; margin-left=-8px; padding-bottom=0"> 
                </md-text-float>
                <md-button ng-click = "sendChat()" style="position:absolute; right:0; bottom:0; margin-bottom:2px;" aria-label="sendChat">
                    <md-icon icon="assets/img/ic_send_24px.svg" style="width: 24px; height: 24px;">
                    </md-icon>
                </md-button>
            </div>
            <!-- <md-button aria-label="sendChat" ng-click="sendChat()">Send</md-button> -->
        </md-content>
      <!-- </md-content> -->
    </md-sidenav>
</div>
<div ng-if="waiting && gameType == 0" class="waiting" >
    <div>share room with our friends you want to join {{ gameId }}</div>
</div>
<!-- *** Users Waiting to connect *** -->
<div ng-if="waiting" class="waiting">
    <div flex layout="vertical" layout-align="center center">
        <h2>
        Waiting for other player(s) to connect
        </h2>
        <md-progress-circular mode="indeterminate"></md-progress-circular>
    </div>
    
</div>
<!-- Users waiting end -->
<!-- <div class="overlay" ng-show = "showScores">
    <div ng-click="closeScores()" class="close-overlay"><i class="fa fa-times"></i></div>
    <div class="container">
    <div class="row">
            <div class="col-md-3">
                <div class="text-center h5" ng-repeat="score in arrPlayers[0].scores">#{{ $index + 1 }}</div>
            </div>
            <show-scores ng-if="arrPlayers[0]" content="arrPlayers[0]"></show-scores>
            <show-scores ng-if="arrPlayers[1]" content="arrPlayers[1]"></show-scores>
            <show-scores ng-if="arrPlayers[2]" content="arrPlayers[2]"></show-scores>
        </div>
    </div>
</div> -->



<!--script type="text/javascript" src="/socket.io/socket.io.js"></script-->
