<div class='bckimg'> </div>
<div class="push-wrap" id="homepage" ng-show="ready">
    <div ng-show="ready" class="bcktrans" flex layout-fill>
            <div ng-show="ready">
            	<div id="gameRender" game-body game="game325" data="data" playerId="playerId" type="gameType"></div>
                <div class="bottom-player-diabled" style="position:absolute;bottom:0;width:100%;height:30%;"></div>
            </div>
            <div class='sidebutton-bar'>
                <md-button class="md-fab sidebutton exitgame" aria-label="Exit" style="position:fixed;" ng-click="exitGame()">
                    <md-icon icon="assets/img/ic_close_24px_teal.svg" style="width: 24px; height: 24px;">
                    </md-icon>
                </md-button>
                <md-button class="md-fab sidebutton showscore" aria-label="Scores" style="position:fixed;" ng-click="toggleScores()">
                    <md-icon icon="assets/img/scoreicon.svg" style="width: 24px; height: 24px;">
                    </md-icon>
                </md-button>
                <md-button ng-if="gameType == 'LIVE'" class="md-fab sidebutton chat" aria-label="Chat" style="position:fixed;" ng-click="toggleRight()">
                    <md-icon icon="assets/img/ic_chat_24px.svg" style="width: 24px; height: 24px;">
                    </md-icon>
                </md-button>
                <!-- <div class="ball selfprofile sidebutton" ng-style="getProfilePic(0);" ng-class="{'player-active':arrPlayers[0].id == activePlayerId}"></div> -->
            </div>
    </div>
    <div ng-show="gameType == 'LIVE'">
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" component-id="right"  flex ng-show="ready" layout="vertical" layout-fill style="max-height:100%!important; background-color: #f6f6f6;">
        <md-toolbar class="chat-head">
                <div class="md-toolbar-tools" flex layout="horizontal" layout-fill>
                    <h3 flex="90">Chat</h3>
                    <md-button class="md-fab md-fab-top-right md-primary" aria-label="Scores" ng-click="closeRight()">
                        <md-icon icon="assets/img/ic_arrow_back_24px.svg" style="width: 24px; height: 24px;"></md-icon>
                    </md-button>
                </div>
        </md-toolbar>
          <md-content class="md-padding chat-container" flex layout="vertical" layout-align="end center" style="padding-bottom: 0px;">
            <md-content flex class="chat-hist">
                <md-list class='chat-box'>
                </md-list>
                <div id="bottomscroll"></div>
            </md-content>
            <div layout="horizontal" class="chatsend">
                <md-text-float ng-model="chatMsg" ng-enter="sendChat()" style="min-width:340px; margin-bottom:0px!important; margin-left=-8px; padding-bottom=0"> 
                </md-text-float>
                <md-button ng-click = "sendChat()" aria-label="sendChat" class="sendchatbutton">
                    <md-icon icon="assets/img/ic_send_24px.svg" style="width: 24px; height: 24px;">
                    </md-icon>
                </md-button>
            </div>
        </md-content>
    </md-sidenav>
    </div>
</div>
<div ng-if="waiting" class="waiting">
    <div flex layout="vertical" layout-align="center center">
    <div>
        <profile-info ng-repeat="player in connectedPlayers" class="center" content="player" style="float:left; padding:40px;"></profile-info>
    </div>
        <h2>
        {{PlayersToJoinMsg}}
        </h2>
        <md-progress-circular mode="indeterminate" class="game-waiting-progress"></md-progress-circular>
    </div>
    <div ng-if="gameType == 0" class="waiting" >
        <div>share room with your friends you want to join {{ gameId }}</div>
    </div>
</div>
<!--script type="text/javascript">
    $(".md-sidenav-backdrop").on("click", function(e){
        console.log('backdrop clicked');
        setTimeout(function() {
            if(!$(".md-sidenav-right").hasClass("md-closed")){
                $(".md-sidenav-right").addClass("md-closed");
                $(".md-sidenav-backdrop").remove();
                console.log('backdrop removed manually');
            }
        }, 200);
    });
</script-->